---
import Base from "../layouts/BaseLayout.astro";
import screenshot from "../assets/legislaide-screenshot.png";
import { Image } from "astro:assets";
import Timeline from "../components/Timeline.astro";
---

<Base emptyFooter>
  <main class="mx-4">
    <h1 class="text-center text-4xl font-bold font-serif tracking-tight">Notable Work</h1>
    <div class="max-w-3xl mx-auto my-20 prose dark:prose-invert">
      <h2>Legislaide</h2>
      <p>
        I was the technical cofounder at Legislaide and Chief Technology Officer until 2024. We made
        it simple for city and county government officials to generate policies, resolutions, and
        parliamentary stuff.
      </p>
      <a href="https://www.legislaide.com/">Link to Website</a>
      <ul>
        <li>
          Built a policy-writing product based on GPT-4 for government use end-to-end, including
          design, frontend, backend, security, and infrastructure.
        </li>
        <li>
          Created Python tools for model analytics and training involving input from non-technical
          colleagues, improving bug resolution and feature development times over 10x.
        </li>
      </ul>

      <div class="relative overflow-hidden">
        <Image src={screenshot} alt="Legislaide website screenshot" class="rounded-2xl" />
      </div>

      <h2>Talks</h2>
    </div>
    <div class="max-w-3xl mx-auto">
      <Timeline items={[
        {
          date: "Jun 29, 2023",
          title: "Broad Applications of Language Generation",
          description: "Spoke about present and future applications of generative artificial intelligence.",
          youtube: "D4lCzCLSO-s"
        }
      ]} />
    </div>
  </main>
</Base>
