---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../config";
import Nav from "./Nav/Nav.astro";
---

<header class="flex items-end h-[100px] justify-end w-full px-8 py-4 text-base font-normal">
  <!-- <a href="/">
    {SITE_TITLE}
  </a> -->
  <Nav />
</header>
