---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../config";
import Nav from "./Nav/Nav.astro";
---

<header class="flex items-center justify-between w-full px-8 py-4">
  <a href="/">
    {SITE_TITLE}
  </a>
  <Nav />
</header>
