---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
export interface Props {
  title: string;
  description: string;
  emptyFooter?: boolean;
}

const { title, description, emptyFooter } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body
    class="bg-gradient-to-r from-red-50 to-blue-50 text-base dark:from-stone-800 dark:to-zinc-800 dark:text-gray-100"
  >
    <div class="flex flex-col justify-between min-h-screen">
      <Header title={SITE_TITLE} />
      <slot />
      <Footer empty={emptyFooter} />
    </div>
  </body>
</html>
